version: '3.8'

services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - cyss_db
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development

  cyss_db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - cyss_pg_data_v2:/var/lib/postgresql/data  # <--- CAMBIO AQUÍ

volumes:
  cyss_pg_data_v2:  # <--- CAMBIO AQUÍ